@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

.todo-section {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #333;
  border-radius: 8px;
}

.head-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.todo-head {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

.add-button {
  width: 7rem;
  height: 2rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.add-button:hover {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
}
